*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#0f172a;
    color:white;
}

.banner{
    height:220px;
    background:linear-gradient(135deg,#1e3a8a,#2563eb);
}

:root {
    --color-1: #0f1016;
    --text-color: #f0f0f0;
    --accent-color: #006aff;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    height: 60px;
    background-color: var(--color-1);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.links-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav a {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color)
}

nav a:hover {
    background-color: var(--accent-color)
}

nav .home-link {
    margin-right: auto;
}

nav svg {
    fill: var(--text-color);
}

#sidebar-active {
    display: none;
}

.open-sidebar-button,
.close-sidebar-button {
    display: none;
}

@media(max-width:450px) {
    .links-container {
        flex-direction: column;
        align-items: flex-start;

        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;
        background-color: var(--color-1);
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transition: 0.75s ease-out;
    }

    nav a {
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }


.profile-card{

    width:90%;
    max-width:700px;
    margin:auto;
    margin-top:-90px;

    background:#1e293b;

    border-radius:20px;

    text-align:center;

    padding:30px;

    box-shadow:0 0 25px rgba(0,0,0,.5);

}

.avatar{

    width:150px;
    height:150px;

    border-radius:50%;

    border:5px solid white;

    object-fit:cover;

    margin-top:-100px;

}

.rank{

    display:inline-block;

    margin-top:10px;

    background:gold;

    color:black;

    padding:6px 20px;

    border-radius:30px;

    font-weight:bold;

}

.info{

    margin-top:30px;

}

.info p{

    margin:12px;

    font-size:18px;

}

.stats{

    margin-top:40px;

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:20px;

}

.stat{

    background:#334155;

    padding:20px;

    border-radius:15px;

}

.stat h3{

    font-size:30px;

    color:#38bdf8;

}

button{

    width:100%;

    padding:14px;

    margin-top:20px;

    border:none;

    border-radius:10px;

    cursor:pointer;

    font-size:18px;

}

.edit-btn{

    background:#2563eb;

    color:white;

}

.logout-btn{

    background:#dc2626;

    color:white;

}

button:hover{

    opacity:.9;

}
